SECRET_KEY=your_secret_key_here
JWT_ALGORITHM=HS256
JWT_EXPIRATION_HOURS=24
JWT_REFRESH_EXPIRATION_DAYS=7
SMTP_HOST=//.gmail.com
SMTP_PORT=465
SMTP_EMAIL='your_email@gmail.com'
SMTP_PASSWORD= 'your_app_password'
GOOGLE_CLIENT_ID= 'your_google_client_id.apps.googleusercontent.com'
DEBUG=False
DATABASE_URL=postgresql://username:password@localhost:5432/doctor_safety_network
PROJECT_NAME= Healthcare Social Platform
VERSION=2.0.0



CLOUDINARY_CLOUD_NAME= your_cloudinary_cloud_name
CLOUDINARY_API_KEY= your_cloudinary_api_key
CLOUDINARY_API_SECRET= your_cloudinary_api_secret